<div class="comments">
    <div class="comments__header">
        <h3>Відгуки покупців <span>{{ comments && comments.length }}</span></h3>
        <button class="btn btn-grey btn-medium" (click)="commentsService.writeComment()">Написати відгук</button>
    </div>
    <ul class="comments__list">
        <li *ngFor="let comment of comments">
            <app-comment 
                (commentLikeBtnClick)="onCommentLikeBtnClick($event)"
                (commentDislikeBtnClick)="onCommentDislikeBtnClick($event)"
                [comment]="comment" >
            </app-comment>
        </li>
        <a routerLink="{{ link }}">
            <button class="showMoreBtn">
                Дивитися усі відгуки до товару
                <mat-icon class="showMoreBtn__icon">arrow_right_alt</mat-icon>
            </button>
        </a>
    </ul>
</div>

