<aside class="cabinet">
    <div class="side-menu__infoBlock infoBlock infoBlock-cabinet">
        <ul class="side-menu__list">
            <li class="side-menu__item">
                <a routerLink="/cabinet/personal-information">
                    <div
                        class="side-menu__item-innerWrapper cabinet-itemWrapper"
                        routerLinkActive="active">
                        <button class="textBtn">
                            <mat-icon class="textBtn__icon">person</mat-icon>
                            <div class="user-name">
                                <p *ngIf="(authService.userData$ | async)?.displayName; else nameSurname">
                                    {{ (authService.userData$ | async)?.displayName }}
                                </p>
                                <ng-template #nameSurname>
                                    <span *ngIf="(authService.userData$ | async)?.name">
                                        {{ (authService.userData$ | async)?.name }}
                                    </span>
                                    <span *ngIf="(authService.userData$ | async)?.surname">
                                        {{ (authService.userData$ | async)?.surname }}
                                    </span>
                                </ng-template>
                                <p *ngIf="(authService.userData$ | async)?.email" class="user-email">
                                    {{ (authService.userData$ | async)?.email }}
                                </p>
                            </div>
                        </button>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/cabinet/orders">
                    <div class="side-menu__item-innerWrapper" routerLinkActive="active">
                        <button
                            class="textBtn">
                            <mat-icon class="textBtn__icon">list_alt</mat-icon>
                            Мої замовлення
                        </button>
                    </div>
                </a>
                <a routerLink="/cabinet/wishlist">
                    <div class="side-menu__item-innerWrapper" routerLinkActive="active">
                        <button
                            class="textBtn">
                            <mat-icon class="textBtn__icon">favorite_border</mat-icon>
                            Список бажань
                        </button>
                    </div>
                </a>
                <a routerLink="/cabinet/recently-viewed">
                    <div class="side-menu__item-innerWrapper" routerLinkActive="active">
                        <button
                            class="textBtn">
                            <mat-icon class="textBtn__icon">visibility</mat-icon>
                            Переглянуті товари
                        </button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>