<div class="input-wrapper">
    <label *ngIf="label" for={{name}} class="input-label">{{label}}</label>
    <textarea 
        [(ngModel)]="inpVal" 
        name={{name}}
        class="input-textarea"
        [class.error]="textareaError"
        placeholder="{{placeholder ? placeholder : ''}}"
        (input)="getValue()">
    </textarea>
    <mat-icon *ngIf="textareaError" class="warning-icon">warning</mat-icon>
    <span *ngIf="textareaError" class="sign-error">
        <span *ngIf="inpVal.length === 0; else secondary">Поле обов'язкове для заповнення</span>
        <ng-template #secondary>
            <span>Мінімальна кількість символів: {{inpVal.length}}/3</span>
        </ng-template>
    </span>
</div>
