<!-- Статичний рейтинг без можливості змінювати значення -->
<div class="raitingWrapper" *ngIf="fixed; else dynamic">
    <mat-icon class="raiting__icon" *ngFor="let item of icons; let i = index">{{ showIcon(i) }}</mat-icon>
    <span *ngIf="numReviews > 0" href="#" class="reviews">{{ numReviews }} відгуків</span>
</div>

<!-- Динамічний рейтинг з можливістю змінювати значення -->
<ng-template #dynamic>
    <div class="raitingWrapper" [class.raitingWrapper-big]="bigIcons">
        <div *ngFor="let icon of icons; let i = index" class="iconWrapper">
            <mat-icon
                class="raiting__icon"
                [class.raiting__icon-big]="bigIcons"
                (mouseenter)="fillStar(i)"
                (mouseleave)="removeStar()"
                (click)="fixStar(i)" >
                {{ showIcon(i) }}
            </mat-icon>
            <span>{{icon}}</span>
        </div>
        <a *ngIf="numReviews > 0" href="#" class="reviews">{{ numReviews }} відгуків</a>
    </div>
</ng-template>
