<footer class="app-footer">
    <div class="app-footer__store">
        <div class="store">
            <h3 class="store__title">Завантажуйте наші додатки</h3>
            <ul class="store__list">
                <li>
                    <a target="_blank" href="https://play.google.com/store/apps/details/?id=ua.com.rozetka.shop&amp;referrer=utm_source%3Dfullversion%26utm_medium%3Dsite%26utm_campaign%3Dfullversion">
                        <img src="../../../../assets/button-google-play.svg" alt="download-from-google-play"/>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://apps.apple.com/app/apple-store/id740469631">
                        <img src="../../../../assets/button-appstore.svg" alt="download-from-app-store" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-footer__main">
        <div class="list">
            <div class="list__top">
                <div class="list__social">
                    <a href="https://rozetka.com.ua/ua/contacts/" target="_blank">
                        <mat-icon class="list__social-icon">schedule</mat-icon>
                        Графік роботи Call-центру
                    </a>
                    <app-social-media></app-social-media>
                </div>
                <div class="list__links">
                    <div
                        class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Інформація про компанію</p>
                        <ul class="infoBlock__list">
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/about/" target="_blank">Про нас</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/legal_terms/" target="_blank">Умови використання сайту</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/careers/" target="_blank">Вакансії</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/contacts/" target="_blank">Контакти</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/all-categories-goods/" target="_blank">Усі категорії</a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Допомога</p>
                        <ul class="infoBlock__list">
                            <li class="infoBlock__item">
                                <a href="https://help.rozetka.com.ua/p/97-dostavka/" target="_blank">Доставка та оплата</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/credit/" target="_blank">Кредит</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://help.rozetka.com.ua/p/111-harantiya-i-povernennya-tovaru/" target="_blank">Гарантія</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://help.rozetka.com.ua/p/102-povernennya-tovaru/" target="_blank">Повернення товару</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/service-centers/" target="_blank">Сервісні центри</a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Сервіси</p>
                        <ul class="infoBlock__list">
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/loyalty/" target="_blank">Бонусний рахунок</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/obmin/" target="_blank">Rozetka Обмін</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/certificates/" target="_blank">Подарункові сертифікати</a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="side-menu__infoBlock infoBlock footer-infoBlock">
                        <p class="infoBlock__title">Партнерам</p>
                        <ul class="infoBlock__list">
                            <li class="infoBlock__item">
                                <a href="https://seller.rozetka.com.ua/newseller/" target="_blank">Продавати на Розетці</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/partnership/" target="_blank">Співпраця з нами</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/pages/franchise/" target="_blank">Франчайзинг</a>
                            </li>
                            <li class="infoBlock__item">
                                <a href="https://rozetka.com.ua/ua/news-articles-promotions/promotions/store_search/" target="_blank">Оренда приміщень</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="list__bottom">
                <div>
                    <img src="https://res.cloudinary.com/dw60kllwn/image/upload/v1697456775/mastercard_qewtbp.svg" alt="mastercard-icon" />
                    <img src="../../../../assets/visa.svg" alt="visa-icon" />
                </div>
                <p>
                    © 2001–2023 Інтернет-магазин «Розетка™» — Щоразу що треба ТМ
                    використовується на підставі ліцензії правовласника
                    RozetkaLTD
                </p>
            </div>
        </div>
    </div>
</footer>
