<mat-dialog-content>
    <div class="comments-modal">
        <app-modal-header [title]="'Фотографії та відео покупців - ' + product?.title"></app-modal-header>
    </div>
</mat-dialog-content>
<div class="comments-modal__content">
    <div class="comments-modal__slider">
        <app-carousel
            [slidesArr]="slides"
            startSlideIndex="{{ data.startSlideIndex }}"
            (activeSlideEvent)="receiveActiveSlideIndex($event)">
        </app-carousel>
    </div>
    <div class="comments-modal__comment" *ngIf="productService.comments$ as comments">
            <app-comment
                (commentLikeBtnClick)="onCommentLikeBtnClick($event)"
                (commentDislikeBtnClick)="onCommentDislikeBtnClick($event)"
                [comment]="
                    activeSlide || activeSlide === 0
                        ? slides[activeSlide]
                        : slides[data.startSlideIndex]
                ">
            </app-comment>
    </div>
</div>
