<!-- Карточка з повною інформацію, з двома сторонами -->
<div *ngIf="full; else limited" class="cards">
    <p
        class="no-cards-found"
        *ngIf="data.products.length === 0">
        <mat-icon class="no-cards-found__icon"> reply </mat-icon>
        За заданими параметрами не знайдено жодної моделі
    </p>
    <ul class="cards__wrapper">
        <li
            class="card"
            *ngFor="let prod of data.products"
            [class.card-big]="size === 'big'"
            [class.card-withOpacity]="!prod.isAvailable">
            <app-card 
                [isDoubleSided]="true"
                [withCheckbox]="withCheckbox"
                [product]="prod" 
                [size]="size"
                [allCardsChecked]="allCardsChecked"
                [withDeleteOption]="withDeleteOption"
                [withWishlistOption]="withWishlistOption"
                (cardDeleteBtnClick)="onCardDeleteBtnClick(prod._id)"
                (cardCheckboxChange)="onCheckboxChange(prod._id)">
            </app-card>
        </li>
    </ul>
</div>

<!-- Карточка з обмеженою інформацією, одна сторона -->
<ng-template #limited>
    <div class="cards">
        <h2 class="cards__title">{{ data.category }}</h2>
        <ul class="cards__wrapper">
            <li
                class="card"
                [class.card-withOpacity]="!prod.isAvailable"
                *ngFor="let prod of data.products.slice(0, endVal)">
                <app-card 
                    [product]="prod"
                    [withWishlistOption]="withWishlistOption"
                    [withCheckbox]="withCheckbox">
                </app-card>
            </li>
        </ul>
        <button
            [ngStyle]="{ display: !showBtn ? 'none' : 'flex' }"
            (click)="showMoreCards(data.category ? data.category : '')"
            class="cards__btn showMoreBtn showMoreBtn-outlined">
            Показати ще
            <mat-icon class="showMoreBtn__icon">arrow_downward</mat-icon>
        </button>
    </div>
</ng-template>
