<div class="comments__item comment">
    <div class="comment__header">
        <div class="comment__icon">
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="comment__author">
            <div class="bold">{{ comment.author || comment.user.name + ' ' + comment.user.surname || comment.user.displayName  }}</div>
            <div class="fs12">Відгук від покупця</div>
        </div>
        <time class="comment__date">{{ comment.createdAt | date }}</time>
    </div>
    <div class="comment__main">
        <div class="mb16">
            <app-rating
                [fixed]="true"
                [activeIconIndex]="comment.rating ||  comment.raiting"></app-rating>
        </div>
        <div>
            <div
                [class.mb16]="comment.advantages || comment.disadvantages"
                class="comment__text">
                {{ comment.text || comment.content }}
            </div>
            <div>
                <div *ngIf="comment.advantages" class="comment__advantagesWrapper">
                    <p class="comment__advantages">Переваги:</p>
                    <p>{{ comment.advantages }}</p>
                </div>
                <div *ngIf="comment.disadvantages" class="comment__advantagesWrapper">
                    <p class="comment__advantages">Недоліки:</p>
                    <p>{{ comment.disadvantages }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="comment.photo" class="mb8 comment__photo">
            <img src="{{ comment.photo }}" alt="comment-addedImage" />
        </div>
        <ul *ngIf="comment.photos && comment.photos.length > 0" class="mb8 comment__photos comment__photo">
            <li *ngFor="let image of comment.photos">
                <img src="{{ image }}" alt="comment-addedImage" />
            </li>
        </ul>
        <div class="comment__footer">
            <!-- <button class="showMoreBtn">
                <mat-icon class="showMoreBtn__icon"
                    >subdirectory_arrow_right</mat-icon
                >
                Відповісти
            </button> -->
            <div class="comment__votes">
                <div class="flex-center">
                    <mat-icon 
                        (click)="addLike(comment._id)" 
                        class="icon-like flex-center"
                        [class.icon-like--active]="isLiked">
                        thumb_up_off_alt
                    </mat-icon>
                    <span class="likes-number">{{ totalLikes }}</span>
                </div>
                <div class="flex-center">
                    <mat-icon 
                        (click)="addDislike(comment._id)"
                        class="icon-dislike flex-center"
                        [class.icon-dislike--active]="isDisliked">
                        thumb_down_off_alt
                    </mat-icon>
                    <span class="likes-number">{{ totalDislikes }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
